<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="alert alert-danger" *ngIf="error">
            <p>{{ error }}</p>
        </div>
        <div class="alert alert-success" *ngIf="successMessage">
            <p>{{ successMessage }}</p>
        </div>

        <form *ngIf="!isResetMode" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="form-group">
                <label for="email">{{languageService.translate('auth.email')}}</label>
                <input 
                    type="email" 
                    id="email" 
                    class="form-control"
                    ngModel
                    name="email"
                    required
                    email
                />
            </div>
            <div class="form-group">
                <label for="password">{{ languageService.translate('auth.password')}}</label>
                <input 
                    type="password" 
                    id="password" 
                    class="form-control" 
                    ngModel 
                    name="password" 
                    required
                    minlength="6"
                />
            </div>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">
                    {{ languageService.translate(isLoginMode ? 'auth.login' : 'auth.signup') }}
                </button> |
                <button class="btn btn-secondary" (click)="onSwitchMode()" type="button">
                    {{ languageService.translate('auth.switchTo') }} {{ languageService.translate(isLoginMode ? 'auth.signup' : 'auth.login')}}
                </button>
                <button class="btn btn-link" (click)="onResetPasswordMode(); $event.preventDefault();">
                    {{ languageService.translate('auth.forgotPassword') }}
                </button>
            </div>
        </form>

        <form *ngIf="isResetMode" #resetForm="ngForm" (ngSubmit)="onForgotPassword(resetForm)">
            <h3>{{ languageService.translate('auth.resetPassword') }}</h3>
            <div class="form-group">
                <label for="reset-email">{{ languageService.translate('auth.enterEmail') }}</label>
                <input 
                    type="email" 
                    id="reset-email" 
                    class="form-control"
                    ngModel
                    name="email"
                    required
                    email
                />
            </div>
            <div>
                <button class="btn btn-warning" type="submit" [disabled]="!resetForm.valid">
                    {{ languageService.translate('auth.sendResetLink') }}
                </button> |
                <button class="btn btn-secondary" (click)="isResetMode = false; isLoginMode = true;" type="button">
                    {{ languageService.translate('auth.backToLogin') }}
                </button>
            </div>
        </form>
    </div>
</div>
