<button *ngIf="sidebarEnabled()" (click)="toggleSidebar()" class="toggle-button">
  ☰ Toggle Sidebar
</button>

<div *ngIf="sidebarEnabled()" class="sidebar-container" [class.active]="sidebarVisible()">
  <div *ngIf="currentSection()" class="sidebar-section">
    <h3>{{ translate('others.' + currentSection()?.title.toLowerCase()) }}</h3>
    <ul>
      <li *ngFor="let item of currentSection()?.items">
        <a *ngIf="item.enabled" [routerLink]="item.route">
          {{ translate('sidebar.' + item.label.toLowerCase()) }}
        </a>
      </li>
    </ul>
  </div>
</div>


