<nav *ngIf="menuConfig()?.enabled" 
     [class.sticky-menu]="isSticky()" 
     [class.transparent-menu]="isTransparent()" 
     class="custom-menu">
  <ul class="menu-items">
    <li *ngFor="let item of menuConfig()?.menuItems">
      <a *ngIf="item.enabled && (!item.protected || isAuthenticated())" [routerLink]="item.route">
        {{ translate('menu.' + item.label.toLowerCase()) }}
      </a>   
    </li>
    <li *ngIf="isAuthenticated()">
      <button (click)="onLogout()" class="btnLogout">Logout</button>
  </li>
  </ul>
</nav>
