<nav 
  class="custom-menu"
  [class.sticky-menu]="menuConfig()?.sticky"
  [class.transparent-menu]="menuConfig()?.transparent"
>
  <ul class="menu-items">
    <li 
      *ngFor="let item of menuConfig()?.menuItems" 
      [class.disabled]="!item.enabled"
    >
      <a 
        [routerLink]="item.route" 
        *ngIf="item.enabled"
        (click)="onMenuItemClick(item.label)"
      >
        {{ item.label }}
      </a>
    </li>
  </ul>
  <button 
    *ngIf="menuConfig()?.sidebar?.enabled" 
    (click)="toggleSidebar()" 
    class="toggle-button"
  >
    <span *ngIf="sidebarExpanded()">expand_more</span>
    <span *ngIf="!sidebarExpanded()">chevron_left</span>
  </button>
</nav>
